{:deps
 {org.clojure/clojure                                                       {:mvn/version "1.10.3"},
  org.clojure/core.async                                                    {:mvn/version "1.5.648"},
  http-kit/http-kit                                                         {:mvn/version "2.5.3"},
  prismatic/schema                                                          {:mvn/version "1.2.0"},
  clojider-gatling-highcharts-reporter/clojider-gatling-highcharts-reporter {:mvn/version "0.3.2"}}
 :aliases
 {:dev
  {:extra-deps {clj-time/clj-time                                 {:mvn/version "0.15.2"},
                clj-async-test/clj-async-test                     {:mvn/version "0.0.5"}
                org.clojure/test.check                            {:mvn/version "1.1.0"}
                clj-containment-matchers/clj-containment-matchers {:mvn/version "1.0.1"}
                lambdaisland/kaocha                               {:mvn/version "1.0.887"}
                lambdaisland/kaocha-junit-xml                     {:mvn/version "0.0.76"}}}}}
